

.root{
	-fx-background-color: #63D1F4;
}

.btn{
	-fx-border-radius:0;
	-fx-background-radius:0;
	-fx-padding: 6 30;
	-fx-background-color: #2E8DEF;
	-fx-text-fill: #FFFFFF;
}

.greenBtn{
	-fx-background-color: #008A00;
}

.redBtn{
	-fx-background-color: #E51400;
}

.loginbtn{
	-fx-padding: 10 50;
}

.friendRequestBtn{
	-fx-padding: 2 30;
}

.messageSendBtn{
	-fx-padding: 10 10;
}

#messageText{
	-fx-pref-height:39;
}

.input{
	-fx-border-radius:0;
	-fx-background-radius:0;
	-fx-pref-height:30;
}

.audioPane{
	-fx-background-color: #000000;
}

.audioUser{
	-fx-pref-height:100;
	-fx-pref-width:100;
	-fx-background-radius:50;
	-fx-background-color: #008A00;
	-fx-text-fill: #FFFFFF;
	-fx-alignment:center;
}

.audioUserRejected{
	-fx-pref-height:100;
	-fx-pref-width:100;
	-fx-background-radius:50;
	-fx-background-color: #D11010;
	-fx-text-fill: #FFFFFF;
	-fx-alignment:center;
}
