.root{
	-fx-background-color: #63D1F4;
}

.btn{
	-fx-border-radius:0;
	-fx-background-radius:0;
	-fx-padding: 6 30;
	-fx-background-color: #2E8DEF;
	-fx-text-fill: #FFFFFF;
}

.greenBtn{
	-fx-background-color: #008A00;
}

.redBtn{
	-fx-background-color: #E51400;
}

.loginbtn{
	-fx-padding: 10 50;
}

.friendRequestBtn{
	-fx-padding: 2 30;
}

.messageSendBtn{
	-fx-padding: 10 10;
}

.friendlistLabel{
	-fx-padding: 10;
	-fx-border-width: 3;
	-fx-border-insets: 10; 
	-fx-border-radius: 6; 
	-fx-background-radius: 6; 
	-fx-background-color: #ace7f9;
}

#messageText{
	-fx-pref-height:39;
}

.messageScrollPane > .viewport{
	-fx-background-color: #c0f5fa;
}

.input{
	-fx-border-radius:0;
	-fx-background-radius:0;
	-fx-pref-height:30;
}

.text-input, .text-input:focused {
	-fx-border-radius:0;
	-fx-background-radius:0;
	-fx-pref-height:30;
    -fx-prompt-text-fill: derive(-fx-control-inner-background, -30%);
}

.audioPane{
	-fx-background-color: #000000;
}

.chatBubble{
	-fx-border-radius: 20;
	-fx-border-color: #FFFFFF;
	-fx-padding: 10;
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 20;
}

.chatBubbleSender{
	-fx-font-size: 10;
	-fx-font-weight: bold;
}

.chatBubbleText{
	-fx-padding: 10 0 0 0;
}

.audioUser{
	-fx-pref-height:100;
	-fx-pref-width:100;
	-fx-background-radius:50;
	-fx-background-color: #008A00;
	-fx-text-fill: #FFFFFF;
	-fx-alignment:center;
}

.audioUserRejected{
	-fx-pref-height:100;
	-fx-pref-width:100;
	-fx-background-radius:50;
	-fx-background-color: #D11010;
	-fx-text-fill: #FFFFFF;
	-fx-alignment:center;
}
